body {
  background-image: url(https://img.freepik.com/free-photo/asian-woman-wearing-vietnam-culture-traditional-rice-terrace-ban-pa-bong-piang-chiangmai-thailand_335224-1112.jpg?semt=ais_hybrid);
}
h1 {
  color: red;
}
p {
  text-align: center;
  color: green;
  font: bold;
  font-size: 50px;
}
P:hover {
  color: blue;
}
